@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $soft-bg;
  color: $dark-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid $dark-bg;
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
  overflow-y: auto;
}